<a routerLink="/list" class="back-link">← Voltar para a Lista</a>

@if (isLoading()) {
  <p class="loading">Carregando detalhes...</p>
}

@if (error(); as errorMessage) {
  <p class="error">{{ errorMessage }}</p>
}

@if (pokemon(); as poke) {

  <div 
    class="detail-card" 
    [ngStyle]="{
      'background': 'linear-gradient(180deg, ' + colors()?.color1 + ', ' + colors()?.color2 + ')'
    }"
  >
    <img 
      class="pokemon-image"
      [src]="poke.sprites.front_default" 
      [alt]="poke.name"
    >
    
    <div class="pokemon-info">
      <h2 class="pokemon-name">{{ poke.name }} (#{{ poke.id }})</h2>
      <p>Altura: {{ poke.height / 10 }} m</p>
      <p>Peso: {{ poke.weight / 10 }} kg</p>
    </div>

  </div>
}