header {
  display: grid;
  justify-items: right;
}

h1 {
  justify-self: stretch;
  margin: 6rem 2rem 2rem 2rem;
  padding: 1vw;
  border-bottom: 2px solid #333;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.685);  
  text-align: center;
  color: #333;
  font-size: clamp(4rem, 6vw, 7rem);
}

.search-bar {
  display: block;
  width: 40vw;
  max-width: 30rem;
  padding: 0.75rem;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  margin: 0.5rem 2rem 6rem 2rem;
  border: 2px solid #333;
  border-radius: 8px;
  box-sizing: border-box;
}

.empty-state {
  grid-column: 1 / -1; 
  width: 100%;
  text-align: center;
  font-size: clamp(1rem, 2vw, 3rem);
  padding: 3rem;
  color: #ff0000;
  box-sizing: border-box; 
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 2vw;
}

.pokemon-card a {
  display: block;
  width: auto;
  height: auto;
  padding: 5.26rem 1rem;
  background: linear-gradient(to bottom, #ff0000 50%, #ffffff 50%);
  border: 2px solid #333;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  text-shadow: 0px 0px 2px rgb(255, 255, 255);
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
}

.pokemon-card a:hover {
  background-color: #fff;
  border-color: #ff0000;
  box-shadow: 0 0px 8px rgba(255, 0, 0, 0.904);
  transform: translateY(-2px);
}